*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-image: url(https://a.espncdn.com/combiner/i?img=/i/teamlogos/soccer/500/874.png);
    /*no-repeat repeat-x repeat-y*/
    background-repeat: no-repeat;
}